{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "prefer-destructuring": "warn"
  }
}